@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


.preview_page{
    position: absolute;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d39fe8df8ff9407562e2f89aec3c1318&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    height: 100%;
    left: 0;
    top: 0;
    background-attachment: fixed;
}

.mainName{
    text-align: center;
    font-weight: inherit;
    font-size: 3.25em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20%;
    color: white;
    user-select: none;
}
.pages{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 80%;
    padding-bottom: 7%; 
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37c91c8e3f63462e0739c676dfe8fee8&auto=format&fit=crop&w=1050&q=80');
}
.whatIsCTF{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 20% 0;
    color: rgb(33, 48, 63);
    font-weight: 500;
}
.opisane1{
    position: absolute;
    top: 180%;
    left: 0;
    height: auto;
}
.CtfText{
    text-align: justify;
    padding: 1.5% 5% 0 5%;
   
}
.pages1{
    position: absolute;
    top: 215%;
    left: 0;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3b92161cef01773ab8e0f83d4da1126&auto=format&fit=crop&w=1050&q=80');
}
.typesOfCtf{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 20% 0;
    color: white;
    font-weight: 500;
}
.opisane2{
    position: absolute;
    top: 300%;
    left: 0;
    width: auto;
    height: auto;
}
.types{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.columns{
    margin: 2% auto;
    width: 90%;
}
.clmn1{
    margin: 0 auto;
}
.sndColumn{
    margin: 0 auto;
}
.sndCardBody{
    text-align: center;
    height: 270px;
}
.pCard{
    margin-top: 10%;
}
.footr{
    position: absolute;
    left: 0;
    top: 360%;
    background: #454342;
    height: 20%;
    width: 100%;
}
.footrP{
    width: 16%;
    margin: 0 auto;
    color: white;
    text-shadow: 3px 1px 1px rgba(150, 150, 150, 1);
    margin-top: 5%;
}
.btns{
    position: relative;
    width: 42%;
    margin: 0 auto;
}
.home-btn-row.row{
    text-align: start;
}
.home-btn-row.row .btn{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
    height: 67px;
    padding: 20px 20px 15px 20px;
    text-align: center;
    letter-spacing: 1px;
    width: 240px;
    margin-top: 1.5%;
}